body {
    margin: 0;
    /* box-sizing: border-box; */
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 1fr 30px;
    grid-gap: 3px;
    /* place-items: center; */
    
    
}

/* navbar */
nav {
width: 65%;
margin: 100px 0 0 0;
}

ul {
    display: flex;
    width: 100%;
    padding: 0;
    background: linear-gradient(to bottom, rgb(119, 124, 120) 5%, rgb(105, 105, 105) 11%, rgb(100, 100, 100) 50%, rgb(82, 82, 82) 51%, rgb(100, 105, 101) 100% );
    list-style: none;
    align-items: center;
    border-radius: 5px;
}

ul a {
text-decoration: none;
color:white;
}

ul i {
    bottom: 5px;
    position: relative;
}

ul input {
    width: 80%;
    border-radius: 12px;
    background: none;
    border: 1px solid rgb(88, 90, 88);
    box-shadow: inset 0 2px 0 1px black;
    color: white;
}

.nav-btn {
    height: 1em;
    flex: 1;
    padding: 12px;
    text-align: center;
    border-right:1px solid rgb(85, 82, 82);
    
}

.nav-btn:hover {
    background: linear-gradient(to bottom, rgb(119, 124, 120) 5%, rgb(105, 105, 105) 11%, rgb(82, 81, 81) 50%, rgb(54, 54, 54) 51%, rgb(83, 87, 84) 100% );
}

.nav-search {
flex: 1.5;
padding: 3px 30px;
}
/* navbar end */

.main {
    background: url('/assets/your_verse_hero.jpg') 50% 100% / cover no-repeat;
    display: grid;
    height: 500px;
    place-items: center;
}
.main-links {
    justify-self: center;
    align-self: center;
}

.main-links h1 {
    margin: auto;
    font-size: 2.2em;
}

.main-links a {
    display: block;
    font-size: 2em;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    padding: 15px;    
    line-height: 1.5em;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bottom img {
    height: 100%;
    width:100%;
}